* {
  box-sizing: border-box; /* Забезпечує, що відстань (padding) і рамка (border) враховуються в загальній ширині та висоті елемента */
  margin: 0; 
  padding: 0; 
}

.addresses-wrapper {
  display: flex; 
  justify-content: space-between; /* Розподіляє простір між дочірніми елементами рівномірно */
  padding: 20px; 
}

.address {
  position: relative; /* Дозволяє абсолютно позиціонованим дочірнім елементам розміщуватися відносно цього елемента */
  width: 32%; 
  padding: 40px 20px; 
  border-radius: 10px; 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
  background-color: #FFE4C4; 
  font-style: normal; 
}

.address-1 {
  background-color: #F0FFC1; 
}

.address-2 {
  background-color: #FFE4C4; 
}

.address-3 {
  background-color: #B6FFDA; 
}

.address__icon {
  width: 70px; 
  float: left; /* Розміщує іконку ліворуч від тексту */
  margin-right: 10px;
}

.address__status {
  width: 32px; 
  position: absolute; /* Дозволяє позиціонування відносно найближчого позиціонованого предка (.address) */
  bottom: 10px; 
  right: 10px; 
}

.address__delete-btn {
  background-color: #FF8E50; 
  color: white; 
  text-decoration: none; 
  font-size: 36px; 
  line-height: 20px; 
  padding: 10px; 
  font-weight: bold; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  position: absolute; /* Позиціонує кнопку абсолютно в межах блоку адреси */
  top: 10px; 
  right: 10px; 
}

.address__delete-btn:hover {
  background-color: #FFD050; 
}

.address__header {
  display: block; 
  margin-bottom: 10px;
  font-weight: bold; 
}

.address:hover {
  background-color: #F3F3F3;
}

@media (max-width: 767px) {
  .address {
    width: 100%; 
    margin: 0 0 20px 0; 
  }  
}
